/* Game */
.score-board {
  width: 60%;
  margin: 0 auto;
}

.score {
  width: 49%;
  height: 125px;
  line-height: 125px;

  margin: 0;
  padding: 0;

  display: inline-block;
  text-align: center;
}

h2 {
  height: 62px;
  line-height: 62px;

  margin: 0;
  padding: 0;
}

.board {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 18px;
}

.card {
  width: 150px;
  height: 241px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.not {
  background-image: url("../../assets/card-back.jpg");
  background-size: cover;
}

.revealed {
  /*border: 1px solid #23395B;*/
  background-color: #FFD464;
  box-shadow:0px 1px 1px #B8860B;
  box-sizing: border-box;
}
