<div class='game inner-view'>
  
    <div class='header-bar' ng-model='game.roundHandler'>
      <div class='score-board'>
        <div class='score'>
          <h2> Score: </h2>
          <h2> {{ game.currentGame.score }} </h2>
        </div>
        <div class='score'>
          <h2> Rounds Left: </h2>
          <h2> {{ game.currentGame.triesLeft }} </h2>
        </div>
      </div>
    </div>

  <table class='board'>
    <!-- Construct the grid from cards in memory -->
    <tr ng-repeat="row in game.board"> 
      <td ng-repeat="card in row">
        <div class="card {{card.revealed ? 'revealed' : 'not'}}" style="{{ card.getStyle() }}" ng-click="game.flipCard(card)">
        </div>
      </td>
    </tr>
  </table>
  
</div>
