<div class='gallery inner-view'>

  <div class='header-bar'>
    <h1 class='header-text'> Image Set </h1>
  </div>

  <div ng-class='gallery.focusModal.modelClass' ng-model="gallery.focusModal" ng-click="gallery.focusModal.hide()">
      <img class='modal-image' src='{{gallery.focusModal.url}}'>
  </div>

  <div class='grid-container'>
    <div class='image' ng-repeat="image in gallery.images" style=
      "background-image: url('{{image.URL}}')" ng-click="gallery.changeFocus(image)"> 
    </div>
  </div>

</div>
