/* Gallery */
.image {
  height: 80px;

  width: 16%;
  margin: 2%;m
  padding: 2%;
  float: left;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.6; 
  transition: 0.3s;
}

.image:hover:not(.active) {
  opacity: 1; 
}

.hidden {
  display: none;
}

.modal {
  z-index: 1;

  height: 80%;
  width: 100%;

  position: fixed;
  left: 0px;
  top: 15%;

  background-color: rgba(0,0,0,0.4);
}

.modal-image {
  height: 100px;
  margin: 0px;
  display: block;
}
