/* Gallery */
.image {
  height: 260px;

  width: 21%;
  margin: 2%;
  padding: 2%;
  float: left;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: 0.9s;
}

.image:hover:not(.active) {
  height: 400px;
  background-color: #F9E1DE;
}

.grid-continer:after {
  content: "";
  display: table;
  clear: both;
}
