html, body {
margin:0;
padding:0;
}

h1 {

}

h2 {
}

h3 {
}

/* the top bar*/
.banner {
  display: table;
  background-color: #FDCF46;
  height: 75px;
  width: 100%;
  margin: 0;
}

.logo {
  display: table-cell;
  height: 100%;
  width: 180px;
  margin: 0;
  vertical-align: middle;
}

.nav-bar {
  display: table-cell;
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
  margin: 0 0 10px 10px;
  padding: 10px;
  height: 75px;
  line-height: 75px;
}

a:hover:not(.active) {
  background-color: #F79256;
}

/* Ui-View */
.view-container {

}

.inner-view {
  margin-left: 4%;
}

/* Cover */
.screen {
  width: 80%;
  height: 300px;
  min-width: 483px;
  margin: 5% 5% 10% 10%;
}

.cover .one {
  background-color: #FFBBA1;
}

.cover .two {
  background-color: #FFCFBC;
}

.cover .three {
  background-color: #FFE3D8;
}

/* About */

.about .one{
  background-color: #80CED7;
}

.about .two{
  background-color: #003249;
}

.about .three{
  background-color: #7880BC;
}

/* Game */
.board {
  margin: 5% 5% 10% 10%;
  border-spacing: 18px;
}

.card {
  width: 132px;
  height: 210px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.not {
  background-image: url("../../assets/card-back.jpg");
  background-size: cover;
}

.faceShowing {
  border: 1px solid #23395B;
  box-sizing: border-box;
}

.game .one {
  background-color: #EDDDD4;
}

.game .two{
  background-color: #D36E2B;
}

.game .three{
  background-color: #FDCF46;
}

/* Gallery */
.image {
  margin: 2%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery .one{
  background-color: #F79256;
}

.gallery .two{
  background-color: #D66D74;
}

.gallery .three{
  background-color: #FFFCF2;
}

.painting {
  height: 100px;
  background-color: blue;
}

/* color swatches */
.swatch-list {
  overflow: auto;
  width: 100%
}

.swatch{
  width: 80px;
  height: 44px;
  float: left;
  margin: 10px;
}

/* */
