h1 {
  background-color: blue;
}

h2 {
  background-color: #35CE8D;
}

h3 {
  background-color: #F6CA83;
}

.card {
  width: 132px;
  height: 210px;
}

.not {
}

.faceShowing {
  border: 1px solid #23395B;
  box-sizing: border-box;
}
