html, body {
margin:0;
padding:0;
}

h1 {

}

h2 {
}

h3 {
}

/* the top bar*/
.banner {
  display: table;
  background-color: #FDCF46;
  height: 75px;
  width: 100%;
  margin: 0;
}

.logo {
  display: table-cell;
  height: 100%;
  width: 180px;
  margin: 0;
  vertical-align: middle;
}

.nav-bar {
  display: table-cell;
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
  margin: 0 0 10px 10px;
  padding: 10px;
  height: 75px;
  line-height: 75px;
}

a:hover:not(.active) {
  background-color: #F79256;
}

/* Ui-View */
.view-container {

}

.inner-view {
  margin-left: 4%;
}

/* color swatches */
.swatch-list {
  overflow: auto;
  width: 100%
}

.swatch{
  width: 80px;
  height: 44px;
  float: left;
  margin: 10px;
}

/* */
